<!doctype html>
<html>
  <head>
    <title>Google SignIn</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
      <style>
          body        { padding-top:70px; }
      </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
          <div class="col-12">
            <h2 class="text-primary  text-center"><span class="fa fa-user"></span> Profile</h2>
            <p> <strong>Name:</strong>: <%= result.name %></p>
            <a href="/auth/logout">Logout</a>
          </div>
      </div>
    </div>
  </body>
</html> 
